# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
docs/
elf_webserver/uploads


.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
.eggs/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Pytest
.cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/
*.iml