.navbar.navbar-dark {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #474a4c;
    border-radius: 5rem;
    font-size: 100%;
    font-weight: 700;
    color: #2e3a3f;
    cursor: pointer;
    transition: border 0.3s ease;
    text-align: center;
}
.custom-file-upload:hover {
    border: 1px solid #929ea7;
}

.btn-primary {
    border-radius: 5rem;
    float:left;
    width:120px;
    height:40px;
    font-size: 100%;
    font-weight: 700;
}

.background-container {
    background-image: url('bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}

